<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="30">-->
    <title>Aplicações de Estoque</title>

    <!-- CSS -->    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style.css"-->
    
</head>
 

<header class="inicial-logo-sessao" >
        
    <img src="static/image/Logo-Diagmed-Branco.png"  style="width:150px;height:100px;"   alt="" >    
      
</header> 
<br>
<body class="body-inicial">
    <table class="listagem_solucoes">
        <thead class="cabecalho_tabela">
            <tr>
                <th >Solução</th> 
            
                <th>Descrição</th>
                
                <th >Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="dados-listagem-solucoes">
                    Painel de estoque
                </td>
                
                <td class="dados-listagem-solucoes">
                    Demonstra um semafório dos níveis de estoque para cada produto
                </td>            
                                        
                <td class="dados-listagem-solucoes">
                    <a href="painel">
                        Painel de estoque
                    </a>    
                </td>        
            </tr>

            <!-- NOVA LINHA-->
            <tr>
                <td class="dados-listagem-solucoes">
                    Validade dos itens
                </td>
            
                <td class="dados-listagem-solucoes">
                    Lista de itens controlados por validade e suas situações         
                </td>   
                            
                <td class="dados-listagem-solucoes">
                    <a href="painel">
                        Validade de itens
                    </a>    
                </td>                       
                
            </tr>
            <!-- NOVA LINHA-->
            <tr>
                <td class="dados-listagem-solucoes">
                    Transferências
                </td>
                
                <td class="dados-listagem-solucoes">
                    Dados de transferências
                </td>            
                            
                <td class="dados-listagem-solucoes">
                    <a href="transferencia">
                        Transferência de itens
                    </a>    
                </td> 
                        
                
            </tr>
            <!-- NOVA LINHA-->
            <tr>
                <td class="dados-listagem-solucoes">
                Espelho de compras
                </td>            

                <td class="dados-listagem-solucoes">
                    Mostra o total de compras mês a mês
                </td>             
                            
                <td class="dados-listagem-solucoes">
                    <a href="espelho">
                    Espelho
                    </a>    
                </td> 
                        
                
            </tr>

            <!-- NOVA LINHA-->
            
        </tbody>    
    
</body>
</table>